In [1]:
import pandas as pd
import joblib
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('flats_moscow.csv')
df.drop (columns= "Unnamed: 0", axis = 1,inplace= True)
scaler = joblib.load('scaler.pkl')

In [3]:
df.head()

   price  totsp  livesp  kitsp  dist  metrdist  walk  brick  floor  code
0     81     58      40    6.0  12.5         7     1      1      1     3
1     75     44      28    6.0  13.5         7     1      0      1     6
2    128     70      42    6.0  14.5         3     1      1      1     3
3     95     61      37    6.0  13.5         7     1      0      1     1
4    330    104      60   11.0  10.5         7     0      1      1     3

In [4]:
df[1:2:]

   price  totsp  livesp  kitsp  dist  metrdist  walk  brick  floor  code
1     75     44      28    6.0  13.5         7     1      0      1     6

In [5]:
value = [[44, 28, 6.0, 23.5, 7, 1, 0, 1, 6]]
data = [["totsp", "livesp", "kitsp", "dist", "metrdist", "walk", "brick", "floor", "code"], value]

In [6]:
line = scaler.transform(value)

C:\Users\ckemm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [7]:
line

array([[-1.92884435, -2.34819369, -1.03983649,  3.69849639, -0.29256412,
         0.67713526, -0.6902654 ,  0.51467304,  0.76846995]])

In [8]:
model = joblib.load('model.pkl')
print(model.predict(line))

[15.79073332]